/.*/
/__*/
/bilibili-new-videos/data/*
!/bilibili-new-videos/data/我的up分组_example.md
/bilibili-new-videos/output/*
!/bilibili-new-videos/output/snapshot/
/bilibili-new-videos/output/snapshot/*
!/bilibili-new-videos/output/snapshot/merge.ipynb